#
h2 {
  color: blue;
}

/*  Selector is a class
    All elements (including different types) with the class will be styled
*/

.subTitle {
  text-decoration: underline;
}

.noUnderline {
    text-decoration: none;
}

.tables {
    border:1px solid;
}

.colRed {
    color: red;
}
